.weatherApp {
  text-align: center;
}

.App {
  font-family: sans-serif;
  background-color: rgb(78, 116, 197);
  padding: 30px 30px 30px 30px;
  margin: 10px 10px;
  border-radius: 10px;
}

h1 {
  color: white;
}

a {
  text-decoration: underline;
}
